db.sqlite3
*.swp                                                                                                                                                                                                   
*.pyc                                                                                                                                                                                                   
__pycache__                                                                                                                                                                                             
py38.*
